<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybts.mapper.ClassMapper " >
    <select id="selectLike" parameterType="class" resultType="class">
        select * from class where
        <where>
            <if test="name !=null and name !=''">
                and name like concat("%",#{name},"%")
            </if>
            <if test="grade !=null and grade !=''">
                and grade=#{grade}
            </if>
            and number &lt;#{number}
        </where>
    </select>
</mapper>